body{
  padding: 0;
  margin: 0;
  border-color: #36E800;
  background-color: #56665F;
}
h1{
  font-size:5em;
}
ul{
  list-style-type: none;
}
a:link{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:visited{
  color: black;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#root{
  max-width: 1000px;
  margin: 0 auto;
}
article{
  max-width: 50%;
  margin: 0 auto;
}
button{
 background-color: #6BB064;
 color: black;
 border-width: 1px;
 border-color: black;
 padding: 0;
}
section{
  max-width: 50%;
}
form{
  /* min-height: 10em; */
  max-width: 5em;
  float: none;
}
form input{
  background-color: #465C41;
  border-color: #36E800;
  width: 100%;
}
form textarea{
  background-color: #465C41;
  border-color: #36E800;
}
#comments-section{
  float: right;
}
.adding-section{
  float: right;
  text-align: left;
}
/* 
Färger:
highlight:#36E800 
lowlight: #465C41
bakgrund: #56665F
fokus: #6BB064
text: #DAE0D1
*/

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


